/* The webpage overall styling */

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


/*  This is for styling the main container that holds everything */

#container {
    height: 100vh;
    width: 100%;
    position: relative;
    background: #f7f7f7;
}


/* This styles the descriptions of the 3D object */

#content {
    height: 500px;
    width: 700px;
    position: absolute;
    left: 12%;
    top: 100px;
    left: 30px;
}


/* This styles the heading in the 3D description */

#content h2 {
    font-size: 140px;
}


/* This styles the aside container */

#aSide {
    height: 600px;
    width: 600px;
    position: absolute;
    top: calc(50% - 250px);
    right: 5px;
}


/* This styles the 3D object inserted in the aside container */

#aSide model-viewer {
    height: 600px;
    width: 600px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}
/* CSS */
.getStarted {
  width:30px;
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.getStarted:disabled {
  pointer-events: none;
}

.getStarted:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.getStarted:active {
  box-shadow: none;
  transform: translateY(0);
}


.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar .active {
  background: #ddd; /* Set the background color for the active link */
  color: black; /* Set the text color for the active link */
}
